* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  color: #777;
}

h1 {
  font-weight: 700;
  font-size: 27px;
}

h3 {
  padding: 0;
  margin: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:focus, button:active, input:focus, input:active {
  outline: none;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.is-outlined-circle {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 34px !important;
  width: 34px !important;
  border: 2px solid silver;
  border-radius: 50%;
  transition: 0.4s;
  color: silver;
}

.is-outlined-circle:hover {
  background: #446084;
  color: white;
  border: 2px solid #446084;
}

.mini-line {
  width: 30px;
  height: 3px;
  background:rgba(0,0,0,.1);
  border: 0;
}

.breadcrumb {
  background: transparent;
  padding: 12px 0;
}

.breadcrumb-item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: rgba(102,102,102,.7);
  transition: 0.2s;
}

.breadcrumb-item.active, .breadcrumb-item:hover {
  color: #111;
}

.white-background-main-carousel .main-page-products-carousel__item .main-page-products-carousel__product-name .product-name {
  color: #334862;
}

.white-background-main-carousel .main-page-products-carousel__item .main-page-products-carousel__product-name .product-price {
  color: #111;
}

.white-background-main-carousel .main-page-products-carousel__item .main-page-products-carousel__product-name .product-brand {
  color: #777;
}

.white-background-main-carousel .main-page-products-carousel__item:hover .main-page-products-carousel__product-name {
  background-color: transparent;
}

.main-find-button {
  background-color: #fff !important;
  color: #666 !important;
  padding: 0.7em 1em;
  margin: 40px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .04em;
  border-radius: 100px;
}

.main-find-button i {
  padding-left: 5px;
  font-size: 20px;
}

.header {
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform 0.4s;
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}

.main-header {
  height: 73px;
  display: flex;
  align-items: center;
}

.open-mobile-menu-btn-continer {
  display: none;
}

.open-mobile-menu-btn {
  height: 33px;
  width: 33px;
  justify-content: center;
  align-items: center;
  background: #446084;
  border-radius: 50%;
  display: none;
  color: #fff;
  cursor: pointer;
}

.open-mobile-menu-btn:hover {
  box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
}

.logo a {
  display: block;
  color: #446084;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bolder;
}

.header__find-form {
  display: flex;
  position: relative;
}

.header__find-form__input {
  height: 33px;
  border: 0;
  box-shadow: 0 0 1px 1px #d3d3d3 inset;
  width: 100%;
  padding: 0 40px 0 10px;
  font-size: 12px;
}

.header__find-form__input::placeholder {
  font-size: 12px;
}

.header__find-form__submit {
  height: 33px;
  width: 33px;
  min-width: 33px;
  background-color: #d26e4b;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.header__find-form__submit:hover {
  box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
}

.header__find-form__submit i {
  color: white;
}

.main-header-nav__item {
  position: relative;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bolder;
}

.main-header-nav__item a {
  transition: all 0.2s;
  color: rgba(102,102,102,.85);
}

.main-header-nav__item a:hover {
  color: rgba(17,17,17,.85);
}

.right-border {
  border-right: 1px solid rgba(0,0,0,.1);
  padding-right: 15px;
}


.header-language-dropdown a {
  font-weight: 500;
}

.header-language-dropdown-list {
  position: absolute;
  min-width: 260px;
  max-height: 0;
  z-index: 9;
  padding: 20px 0 20px;
  opacity: 0;
  margin: 0;
  transition: opacity .25s;
  box-shadow: 1px 1px 15px rgba(0,0,0,.15);
  border: 2px solid #ddd;
  color: #777;
  background-color: #fff;
  text-align: left;
  display: table;
  left: -99999px;
}

.has-dropdown:hover .header-language-dropdown-list, .header-language-dropdown-list:hover  {
  opacity: 1;
  left: 0;
}

.header-language-dropdown-list__item a {
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all .2s;
  text-transform: capitalize;
  font-weight: 400;
  display: block;
}

.header-language-dropdown-list__item a:hover {
  background-color: #446084;
  color: #fff !important;
}

.header-shopping-cart__text {
  border: 1px solid #999;
  color: #999;
  padding: 7px 9px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.header-shopping-cart__text:hover {
  background-color: #446084;
  color: white !important;
 }

.header-shopping-cart__price {
  font-weight: 500;
}

.header-shopping-cart__icon {
  position: relative;
}

.header-shopping-cart__icon:after {
  content: attr(data-icon-label);
  position: absolute;
  top: -12px;
  right: -12px;
  font-style: normal;
  font-weight: bolder;
  font-size: 11px;
  color: #fff;
  text-align: center;
  line-height: 17px;
  font-family: Arial,Sans-serif !important;
  background-color: #d26e4b;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,.3);
  padding-left: 2px;
  padding-right: 2px;
  height: 17px;
  min-width: 17px;
  opacity: .9;
  text-align: center;
  border-radius: 99px;
  z-index: 1;
  transition: transform .2s;
}

.shopping-cart-dropdown, .header-search-dropdown {
  position: absolute;
  min-width: 260px;
  max-height: 0;
  z-index: 9;
  padding: 20px;
  opacity: 0;
  margin: 0;
  transition: opacity .25s;
  box-shadow: 1px 1px 15px rgba(0,0,0,.15);
  border: 2px solid #ddd;
  color: #777;
  background-color: #fff;
  text-align: left;
  display: table;
  left: -99999px;
}

.header-shopping-cart:hover .shopping-cart-dropdown, .shopping-cart-dropdown:hover {
  opacity: 1;
  left: auto;
  right: -15px;
}

.shopping-cart-dropdown__mobile-label {
  display: none;
}

.shopping-cart-dropdown__close-btn {
  position: fixed;
  left: -99999px;
  top: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: color 0.4s;
  color: rgba(255, 255, 255, 0.5);
}

.shopping-cart-dropdown__close-btn:hover {
  color: #fff;
}

.shopping-cart-dropdown__mobile-label {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 40px;
  padding-top: 10px;
  color: #555;
}

.empty-shopping-cart {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
}

.shopping-cart-list {
  position: relative;
}

.shopping-cart-list-item {
  padding: 10px 30px 5px 75px;
  min-height: 80px;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  line-height: 1.33;
  border-bottom: 1px solid #ececec;
  display: flex;
  flex-direction: column;
}

.shopping-cart-list__product-description {
  color: #334862 !important;
  font-weight: 500;
  font-size: 16px;
}

.shopping-cart-list__image {
  top: 10px;
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  object-fit: cover;
  object-position: 50% 50%;
}

.shopping-cart-list-item__close-btn {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 15px !important;
  line-height: 19px !important;
  border-radius: 100%;
  color: #ccc;
  font-weight: 700;
  text-align: center;
  border: 2px solid currentColor;
}

.shopping-cart-dropdown-sum {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #ececec;
  margin-bottom: .5em;
  text-transform: capitalize;
  font-size: 15px;
}

.shopping-cart-dropdown-sum .result {
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  color: #111;
}

.shopping-cart-dropdown_show-cart, .shopping-cart-dropdown_order {
  display: block;
  padding: 0;
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  line-height: 2.4em;
  letter-spacing: .03em;
  min-height: 2.5em;
  padding: 0 1.2em;
  max-width: 100%;
  font-weight: 600;
  font-size: 0.97em;
  margin-top: 0.5em;
}

.shopping-cart-dropdown_show-cart {
  background-color: #446084;
}

.shopping-cart-dropdown_order {
  background-color: #d26e4b;
}

.shopping-cart-dropdown_show-cart:hover {
  box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
  color: white;
}

.shopping-cart-dropdown_order:hover {
  box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
  color: white;
}

.sub-header-container {
  background-color: #424242;
  transform: none;
}

.sub-header-links {
  display: flex;
}

.sub-header__item {
  margin: 0 7px;
  padding: 10px 0;
}

.sub-header__item__link {
  text-transform: uppercase;
  color: rgba(255,255,255,.8);
  font-weight: 700;
  font-size: 13px;
  transition: color 0.3s;
}

.active-sub-header-link {
  color: white;
}

.sub-header__item__link:hover {
  color: white;
}

.sub-header-login-link {
  display: none;
}

.sub-header-search-container {
  position: relative;
}

.header-search-dropdown form {
  margin: 20px 0;
}

.header-search-dropdown form .header__find-form__input::placeholder {
  font-size: 16px;
}

.header-search-dropdown form .header__find-form__input {
  height: 40px;
  padding-right: 45px;
}

.header-search-dropdown form .header__find-form__submit {
  height: 40px;
  width: 40px;
}

.sub-header__find {
  display: block;
  color: white;
  padding: 0px 20px;
}

.sub-header-search-container:hover .header-search-dropdown {
  opacity: 1;
  left: auto;
  right: -15px;
  top: 100%;
}

.close-mobile-header-btn {
  position: absolute;
  left: 33%;
  width: 67%;
  height: 100%;
  padding: 10px;
  display: flex;
  opacity: 0;
  display: none;
  justify-content: flex-end;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
}

.close-mobile-header-btn i {
  transition: 0.4s;
  cursor: pointer;
}

.close-mobile-header-btn i:hover {
  color: rgba(255, 255, 255, 1);
}

.main-page__main-carousel__item {
  background: url(../img/1тег.jpg) no-repeat center center / cover;
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page__main-carousel__item__title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
}

.main-page__main-carousel__item__text {
  color: #f1f1f1;
  font-weight: 300;
}

.main-page__main-carousel__item__link {
  border: 2px solid white;
  border-radius: 100px;
  padding: 3px 15px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
}

.main-page__main-carousel__item__link i {
  padding-left: 5px;
}

.main-page__main-carousel__item__link:hover {
  color: initial;
  background-color: white;
}

.main-page-carousel {
  position: relative;
}

.main-page-carousel:hover .owl-nav button {
  opacity: 1;
}

.main-page-carousel .owl-nav button {
  position: absolute;
  height: 105%;
  background-color: rgba(0,0,0,0.4) !important;
  top: -2.5%;
  opacity: 0;
  transition: 0.3s;
  width: 30px;
  font-size: 3.5em !important;
  color: #f1f1f1 !important;
  border-radius: 200px !important;
}

.main-page-carousel .owl-nav button:hover {
  background-color: rgba(0,0,0,0.6) !important;
  color: #446084 !important;
}

.main-page-carousel .owl-nav .owl-prev {
  left: -20px;
}

.main-page-carousel .owl-nav .owl-next {
  right: -20px;
}

.main-page-carousel .owl-nav .owl-prev:hover {
  color: #446084;
}

.main-page-carousel .owl-nav .owl-next:hover {
  color: #446084;
}

.main-page-brands-carousel__item {
  position: relative;
  display: block;
}

.main-page-brands-carousel__item__brand-name {
  background-color: rgba(0,0,0,.95);
  padding: .8em 1em 1em;
  position: absolute;
  bottom: 15%;
  width: 100%;
  transition: background .3s;
  z-index: 1;
  color: #f1f1f1;
  text-align: center;
  font-size: 0.7em;
}

.main-page-brands-carousel__item:hover .main-page-brands-carousel__item__brand-name {
  background-color: #446084;
}

.main-page-brands-carousel__item__brand-name h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 1em;
  font-weight: 700;
}

.main-page-products-carousel {
  margin-bottom: 70px;
  margin-top: 100px;
}

.main-page-products-carousel__item {
  display: flex;
  flex-direction: column;
}

.main-page-products-carousel-image-container {
  transition: 0.4s;
  position: relative;
}

.main-page-products-carousel__item:hover .main-page-products-carousel-image-container {
  transform: translateY(-10px);
}

.main-page-products-carousel-image-container .out-of-stock {
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  opacity: 0.9;
}

.main-page-products-carousel-image-container .fast-view-label {
  transition: transform 0.4s, opacity 0.3s;
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px 0;
  background: #446084;
  text-transform: uppercase;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
}

.main-page-products-carousel-image-container .fast-view-label:hover {
  background: #384e6c;
}

.main-page-products-carousel__item:hover .fast-view-label {
  transform: translateY(0);
  opacity: 1;
}

.main-page-products-carousel__product-name {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
}

.main-page-products-carousel__product-name * {
  margin: 0.2em 0;
}

.main-page-products-carousel__item:hover .main-page-products-carousel__product-name {
  transform: translateY(-10px);
  background-color: rgba(0,0,0,0.4);
}

.main-page-products-carousel__product-name .product-brand {
  color: #f1f1f1;
  opacity: 0.7;
  font-size: 10px;
  padding-top: 1.5em;
  text-transform: uppercase;
}

.main-page-products-carousel__product-name .product-name {
  line-height: 1.3;
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.main-page-products-carousel__product-name .product-price {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.main-page-products-carousel__product-name .product-more-information {
  text-transform: uppercase;
  color: #446084;
  border: 2px solid #446084;
  transition: 0.4s;
  font-size: 12px;
  padding: 5px 13px;
  font-weight: 600;
  width: 50%;
}

.main-page-products-carousel__product-name .product-more-information:hover {
  background: #446084;
  color: white;
}

.sub-footer {
  border-top: 1px solid rgba(0,0,0,.05);
  padding-bottom: 30px;
}

.footer-language-choose-container .current-language, .footer__language-element .possible-language {
  cursor: pointer;
  border: 1px solid #cdcdcd;
  border-radius: 0;
  padding-left: 10px;
  position: relative;
  margin-top: 30px;
  transition: 0.4s;
}

.footer-language-choose-container .current-language:hover, .footer__language-element .possible-language:hover {
  background: #d9d9d9;
}

.footer-language-choose-container .current-language i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-language-choose-container__label {
  padding-left: 5px;
  font-weight: 400;
  font-size: 16px;
}

.footer__languages-list {
  position: absolute;
  left: -9999px;
  opacity: 0;
  width: 100%;
  transition: 0.4s;
  z-index: 999;
}

.footer__language-element {
  position: relative;
}

.footer__language-element .possible-language {
  margin: 0;
}

.footer-language-choose-container:hover .footer__languages-list, .footer__languages-list:hover {
  right: 0;
  left: auto;
  opacity: 1;
}

.footer-recently-watched-label {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #777;
  line-height: 1.35;
  letter-spacing: .08em;
  width: 15em;
}

.main-footer {
  background: #5b5b5b;
  padding: 20px 0;
}

.payment-icon {
  height: 34px;
  width: 50px;
  background: rgba(255,255,255,.1);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.payment-icon svg {
  height: 20px;
  width: 40px;
  fill: rgba(255,255,255,.6);
  transition: 0.3s;
}

.payment-icon:hover svg {
  fill: #fff;
}

.footer-link, .copyright {
  color: rgba(255, 255, 255, .4);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding-right: 10px;
  transition: 0.4s;
}

.footer-link:hover {
  color: rgba(255, 255, 255, .8);
}

.footer-links-line {
  background: rgba(255, 255, 255, .1);
  margin: 2px;
}

.copyright {
  text-transform: none;
}

.copyright-brand {
  color: rgba(255, 255, 255, .7)
}

.object-card-main-container {
  padding-top: 40px;
}

.object-card-photo {
  position: relative;
  display: flex;
  justify-content: center;
}

.object-card-photo img {
  height: 510px;
  width: auto;
}

.object-card-photo span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  width: 39px;
  border: 2px solid silver;
  border-radius: 50%;
  color: silver;
  transition: 0.4s;
}

.object-card-photo span:hover {
  background: #446084;
  color: white;
  border: 2px solid white;
}

.object-card-description__title {
  color: #555555;
}

.object-card-description__price {
  font-weight: 700;
  color: #111;
  font-size: 24px;
  margin-bottom: 30px;
}

.object-card__find-out p {
  margin-bottom: 1.3em;
  font-size: 16px;
  font-weight: 400;
}

.object-card__find-out input[type='text'] {
  margin-bottom: 1em;
  border: 1px solid #ddd;
  padding: 0 .75em;
  height: 2.507em;
  font-size: 16px;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  transition: 0.3s;
}

.object-card__find-out input[type='text']:hover {
  box-shadow: none;
}

.object-card__find-out input[type='text']:focus {
  box-shadow: 0 0 5px #ccc;
}

.object-card__find-out__submit {
  background: #d26e4b;
  text-transform: uppercase;
  color: white !important;
  border: 0;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.5px;
  border: 1px solid transparent;
  transition: 0.3s;
  padding: 0px 16px;
}

.object-card__find-out__submit:hover {
  box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
}

.marks {
  margin-top: 20px;
  font-size: 13px;
}

.mark-item {
  border-top: 1px dotted #ddd;
  padding: 7px 0;
}

.mark-item a {
  color: #334862;
}

.object-card-main-container__social-networks {
  display: flex;
  margin-top: 10px;
}

.object-card-main-container__social-networks a {
  color: silver;
  margin: 0px 10px 0 0;
  transition: 0.3s;
}

.object-card-main-container__social-networks__telephone {
  display: none!important;
}

.object-card-main-container__social-networks__telephone:hover {
  background: #51cb5a;
}

.object-card-main-container__social-networks a:hover {
  color: white;
}

.object-card-main-container__social-networks__facebook:hover {
  background: #3a589d;
}

.object-card-main-container__social-networks__twitter:hover {
  background: #2478ba;
}

.object-card-main-container__social-networks__email:hover {
  background: #111;
}

.object-card-main-container__social-networks__pinterest:hover {
  background: #cb2320;
}

.object-card-main-description {
  width: 100%;
  margin-top: 75px;
  border-top: 1px solid rgba(0,0,0,.05);
}

.object-card-main-description__title {
  display: block;
  color: rgba(17,17,17,.85);
  font-weight: 700;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.3px;
  padding-top: 10px;
}

.object-card-main-description__title:hover {
  color: rgba(17,17,17,.85);
}

.object-card-main-description__title:before {
  content: " ";
  position: absolute;
  top: 0;
  transform: translate(-2px);
  width: 100%;
  max-width: 93vw;
  height: 3px;
  opacity: 1;
  transition: 0.3s;
  background-color: #446084;
}

.object-card-main-description__description-list {
  margin: 20px 0;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.object-card-main-description__description-list__item {
  color: #777;
  font-size: 16px;
  padding-bottom: 1px;
  font-weight: 400;
}

.similar-products-title {
  font-weight: 700;
  font-size: 20px;
  padding: 15px 0 0 0;
  letter-spacing: 0.5px;
}

.object-card__top-navigation-buttons__image {
  left: -9999px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  height: 100px;
  width: 100px;
  transform: translateY(90%);
}

.object-card__top-navigation-buttons:hover .object-card__top-navigation-buttons__image {
  opacity: 1;
  left: auto;
  z-index: 9999;
  height: auto;
  border: 2px solid #ddd;
}

.object-card__not-found-link {
  color: #334862;
  font-size: 14px;
}

.object-card__products-category {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.9;
  margin-top: 25px;
}

.object-card__products-category .mini-line {
  margin: 5px auto;
}

#amount_object_card {
  height: 40px;
  width: 40px;
  appearance: textfield;
  border-radius: 0 !important;
  border: 1px solid #ddd;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  text-align: center;
  font-size: 14px;
}

#amount_object_card::-webkit-outer-spin-button,
#amount_object_card::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#add_amount_object_card, #subtract_amount_object_card {
  width: 25px;
  height: 40px;
  padding: 0;
  border-radius: 0;
  font-weight: 400;
  color: #555;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #ddd;
  font-size: 14px;
  background: #f9f9f9;
  transition: 0.3s;
}

#add_amount_object_card:hover, #subtract_amount_object_card:hover {
  color: #000;
  background: #dfdfdf;
}


@media (max-width: 991px) {
  .close-mobile-header-btn {
    display: flex;
  }

  .open-mobile-menu-btn-continer {
    display: block;
  }

  .open-mobile-menu-btn {
    display: flex;
  }

  .logo a {
    text-align: center;
  }

  .main-header {
    flex-wrap: nowrap;
  }
  
  .main-header__find-form {
    display: none;
  }
  
  .sub-header-container {
    background: rgba(11, 11, 11, 0.6);
    position: fixed;
    z-index: 9997;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -150%;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .sub-header {
    background: rgba(255,255,255,.95);
    height: 100%;
    left: 0;
    position: absolute;
    width: 33%;
    min-width: 260px;
    z-index: 9998;
    transform: translateX(-110%);
    transition: 0.2s;
  }

  .sub-header__item {
    padding-left: 20px;
    margin: 0;
    width: 100%;
    transition: 0.4s;
  }

  .sub-header__item:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .sub-header-search-container {
    width: 100%;
  }

  .sub-header-search-container, .header__find-form {
    position: relative !important;
  }
  
  .sub-header-search-container .header-search-dropdown {
    opacity: 1;
    left: 0px !important;
    right: -15px;
    position: relative;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: 0;
    background: transparent;
    min-width: auto;
  }

  .header-shopping-cart__price, .header-language-dropdown, .header-number, .header-mail, .sub-header__find, .main-header .header__find-form {
    display: none;
  }
  
  .shopping-cart-dropdown__mobile-label {
    display: block;
  }

  .header__find-form {
    position: absolute;
  }

  .sub-header-links {
    flex-direction: column;
    position: relative;
  }

  .sub-header__item__link {
    color: rgba(102,102,102,.85);
  }

  .sub-header__item__link:hover {
    color: black;
  }

  .sub-header-login-link {
    display: block;
  }

  .shopping-cart-dropdown-container {
    background: rgba(11, 11, 11, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9997;
    left: -9999px;
    opacity: 0;
    top: 0;
    transition: opacity 0.2s;
  }

  .shopping-cart-dropdown {
    background: rgba(255,255,255,.95);
    left: auto;
    top: 0;
    right: -5px !important;
    opacity: 1;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    width: 33%;
    min-width: 220px;
    z-index: 9998;
    border: 0;
    transition: 0.2s;
    transform: translateX(110%);
    margin-right: 10px;
  }

  .header-shopping-cart__text {
    pointer-events: none;
  }
  
  .header-shopping-cart {
    cursor: pointer;
  }

  .shopping-cart-list-item__close-btn {
    right: 5px;
  }

  .main-page-carousel .owl-nav button {
    background-color: transparent !important;
    opacity: 1;
    font-size: 2.3em !important;
  }

  .main-page-carousel .owl-nav button:hover {
    background-color: transparent !important;
    opacity: 1;
    font-size: 2.3em !important;
  }

  .main-page-products-carousel__product-name .product-more-information {
    width: 85%;
  }

  .object-card-photo img {
    height: auto;
    height: intrinsic;
    width: 100%;
  }

  .object-card-main-container__social-networks__telephone {
    display: flex !important;
  }

  .object-card__products__find-form, .object-card__not-found-link, .object-card__products-category {
    display: none;
  }

  .footer-recently-watched-label {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .sub-header-search-container .header-search-dropdown .header__find-form__input::placeholder {
    font-size: 12px;
  }

  .logo a {
    font-size: 20px !important;
  }
}