body {
  font-family: 'Fira Sans', sans-serif;
  background: #F4F4F4;
}

button {
  display: block;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  color: #818181;
  font-size: 18px;
  line-height: 28px;
}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 700;
  color: #151515;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 22px;
}

.be-static {
  position: static;
}

.btn {
  height: 50px;
  width: 189px;
  border-radius: 0;
  text-transform: uppercase;
  color: #fff;
  background: #3726F2;
  font-size: 14px;
  letter-spacing: 0.3em;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #291cb7;
  color: #fff;
}

.nav {
  margin-top: 59px;
}

.offer {
  margin-top: 127px;
}

.offer-cont {
  height: 93.5vh;
}

.offer-cont__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

.offer-cont__text {
  margin: 30px 0 56px;
}

.hero {
  background: url("../img/img1.jpg") no-repeat right top;
  background-size: 97% 100%;
  position: absolute;
  height: 100vh;
  width: 50%;
  right: 0;
  top: 142px;
}

.video-btn {
  background: url(../img/video.jpg) no-repeat center center;
  height: 310px;
  width: 400px;
  position: absolute;
  top: 45%;
  left: -8%;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-btn:after {
  content: "";
  display: block;
  background: url(../img/play.svg);
  height: 65px;
  width: 65px;
}

.about {
  margin-top: 137px;
}

.about-cont__title {
  margin-bottom: 30px;
}

.about-cont__text {
  margin-right: 95px;
}

.author {
  margin-top: 61px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-author {
  margin-left: 31px;
}

.author-name {
  font-size: 22px;
  margin: 0;
}

.author-work {
  margin: 0;
}

.services {
  margin-top: 142px;
}

.services-title {

}

.services-title__label {
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #8F8F8F;
  opacity: 0.7;
  font-size: 14px;
  font-weight: 500;
}

.services-title__header {
  line-height: 50px;
  margin-bottom: 100px;
}

.services-list {
  list-style: none;
  color: #222222;
  opacity: 0.5;
  margin-top: 75px;
}

.services-list__left {
  margin-left: 37px;
}

.services-list__right {

}

.services-list__item {
  margin-bottom: 20px;
}

.owl-nav {
  display: flex !important;
  justify-content: start;
}

.owl-prev {
  margin-left: 0 !important;
}

.owl-next {
  margin: 20px !important;
}

.services-play {
  position: absolute;
  height: 65px;
  width: 65px;
  top: 50%;
  transform: translateY(-50%);
}

.features {
  margin-top: 181px;
}

.features.container {
  position: relative;
}

.feature-images {
  position: absolute;
  transform: translate(-135px);
  background: url(../img/img6.jpg) no-repeat left top;
  height: 570px;
  width: 50%;
}

.features-image {
  position: absolute;
  filter: drop-shadow(30px 80px 180px rgba(0, 0, 0, 0.25));
  padding: 100px 0 0 315px;
}

.features-cont {
  padding-top: 38px;
  padding-left: 65px;
}

.features-cont__title {
  margin-bottom: 13px;
}

.features-cont__text {
  margin-bottom: 62px;
}

.features-cont__main__feature__image {
  margin-right: 30px;
}

.features-cont__main__features {
  margin-bottom: 283px;
}

.features-cont__main__feature, .section-title__label {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
}

.section-title__label {
  color: #8F8F8F;
}

.works-tab-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}

.work-nav {
  text-transform: uppercase;
  color: #222222;
  opacity: 0.3;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4px;
  transition: all 0.5s ease;
}

.work-nav.active, .work-nav:hover {
  color: #1434E1 !important;
  background-color: transparent !important;
  opacity: 1;
}

.works-wrap {
  position: absolute;
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap;
  margin-top: 108px;
}

.works-wrap.active {
  position: relative;
  z-index: 10;
}

.works-wrap__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-wrap__item img {
  margin-bottom: 30px;
  transition: all 0.25s ease;
}

.works-wrap__item:hover img {
  transform: translateY(-20px);
  filter: drop-shadow(-30px 80px 200px rgba(0, 0, 0, 0.25));
}

.works-wrap__item:after {
  content: "";
  visibility: hidden;
  background: url(../img/play.svg);
  height: 65px;
  width: 65px;
  position: absolute;
  transition-delay: 0.2s;
}

.works-wrap__item:hover:after {
  visibility: visible;
  transform: translateY(-20px);
}

.work-end-btn {
  text-align: end;
  padding-right: 0;
}

.work-end-btn .btn {
  width: 222px;
}

.testimonials {
  padding-top: 248px;
  padding-bottom: 176px;
}

.testimonials-title__label {
  margin-bottom: 73px;
}

.contributor {
  margin-top: 121px;
}

.contributor-name {
  font-weight: 500;
  line-height: 32px;
  color: #222222;
  letter-spacing: 0.02em;
  margin-bottom: 13px;
}

.contributor-desc {

}

.contributor-image-container {
  padding: 0 0 0 30px;
}

.contributor-image {
  display: block;
}

.testimonials-carousel .owl-nav {
  position: absolute;
  bottom: 0;
}

.testimonials-carousel .owl-nav .owl-prev {
  margin: 40px 25px 0 0 !important;
}

.testimonials-carousel .owl-nav .owl-next {
  margin: 40px 20px 0 0 !important;
}

.clients {
  background: #FAFAFA;
}

.clients-title {
  padding-top: 102px;
}

.clients-text-title {
  color: #222222;
  padding-top: 110px;
  margin-bottom: 17px;
}

.brands-clients {
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
  padding-bottom: 146px;
}

.footer {
  background: #515151;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  text-align: center;
}



@media screen and (min-width: 1200px) {
  .services-carousel .item, .services-carousel .owl-stage .owl-item {
    width: 825px !important;
  }
}

@media screen and (max-width: 1200px) {
  .works-wrap {
    margin-top: 50px;
    justify-content: space-around !important;
  }

  .works-tab-container {
    display: flex;
    justify-content: center;
  }

  .works-tab-container .nav-pills {
    justify-content: space-around;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .feature-images {
    position: relative;
    width: 80vw;
    height: 73vw;
    transform: none;
    background-size: contain;
  }

  .features-image {
    right: -5%;
    top: 15%;
    width: 50vw;
    padding: 0;
  }

  .features-cont {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .offer-cont {
    text-align: center;
    height: auto;
  }

  .hero {
    background: url(../img/img1.jpg) no-repeat center center;
    position: relative;
    height: 85vh;
    width: 80vw;
    top: 40px;
  }

  .about-image {
    position: relative;
    left: 50%;
    padding-bottom: 20px;
    transform: translate(-50%);
  }

  .about-cont__text {
    margin-right: 0;
  }

  .services-list__left {
    margin-left: 0;
  }

  .services-list {
    margin-top: 0px;
  }

  .testimonials-title__label {
    margin-bottom: 50px;
  }

  .contributor {
    margin-top: 80px;
  }

  .contributor-image-container {
    padding: 0;
  }

  .testimonials-carousel .owl-nav {
    left: 50%;
    transform: translate(-50%, 100%);
  }
}

@media screen and (max-width: 576px) {
  .hero {
    height: 50vh;
  }

  .video-btn {
    transform: scale(0.8) translate(-45%);
    left: 46%;
  }

  .about-image {
    padding-top: 50px;
  }

  .work-end-btn {
    text-align: end;
    padding-right: 20px;
  }

  .brands-clients {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 60px;
  }

  .client-brand {
    margin-bottom: 30px;
  }

}





