* {
  padding: 0;
  margin: 0;
}

body {
  background: url(form-bg.png);
}

.cost-calculation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 50px;
  width: fit-content;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

.cost-calculation h3 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: inherit;
  padding-bottom: 20px;
}

.cost-calculation input {
  background: rgba(225, 225, 225, 0.7);
  border: 0;
  height: 30px;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 10px;
  width: calc(100% - 10px);
}

.cost-calculation input::placeholder {
  color: rgb(93, 93, 93);
}

.input-parameters {
  width: 100%;
}

.input-parameters-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-parameters-row input {
  width: 47%;
}

.price-res {
  color: #dfdfdf;
  display: flex;
  align-items: center;
  width: 100%;
}

.price-res input {
  margin: 0;
  padding-left: 15px;
}

.price-container {
  width: 55%;
  display: flex;
  padding-right: 10px;
}

.product-price-label {
  text-align: right;
  font-size: 14px;
  padding-right: 20px;
}

.nds-container {
  width: 45%;
  display: flex;
}

#nds-check {
  width: 30%;
}

.nds-check-label {
  font-size: 14px;
  text-align: center;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-submit-btn {
  padding-left: 0 !important;
  color: whitesmoke;
  background: #bf0000 !important;
  width: 77% !important;
}

@media (max-width: 576px) {
  .cost-calculation {
    padding: 20px 10px;
  }

  .price-res {
    flex-direction: column;
  }

  .nds-container, .price-container {
    width: 100%;
    padding-right: 0;
    padding-bottom: 15px;
  }

}
