body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: url("../img/first-bg.jpg") no-repeat center top / cover;
  height: 698px;
}

.container {
  width: 930px;
  margin: 0 auto;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: min-content;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}