p {
  color: #666666;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title__label {
  padding-top: 110px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
}

.section-title__text {
  text-align: center;
  font-size: 16px;
}

.header {
  background: url(../img/first-bg.jpg) no-repeat center center / cover;
  text-transform: uppercase;
  color: white;
}

.logo {
  padding-bottom: 16px;
}

.navbar {
  margin-top: 40px;
  margin-bottom: 0;
}

.nav {

}

.nav-link {
  color: white;
  font-size: 14px;
}

.nav-link:hover {
  color: #cbcbcb;
}

.offer {
  text-align: center;
  margin-top: 200px;
}

.header-title__welcome {
  font-size: 40px;
  padding-bottom: 50px;
}

.header-title__main {
  font-size: 75px;
  font-weight: bold;
}

.header-btn {
  background: #FCC82A;
  margin-top: 50px;
  margin-bottom: 160px;
  height: 65px;
  width: 240px;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  padding-bottom: 110px;
  text-align: center;
}

.services-item-image {
  padding-bottom: 20px;
}

.services-cards-item__title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.portfolio {
  background: #f5f5f5;
  padding-bottom: 135px;
}

.portfolio-img {
  padding-top: 70px;
  width: 100%;
}

.about-card {
  margin: 90px 0 90px 0;
}

.left-about-card-text {
  text-align: right;
  margin-right: 20px;
  padding-left: 4ex;
}

.right-about-card-text {
  text-align: left;
  margin-left: 35px;
  padding-right: 4ex;
}

.about-us-text__title {
  font-size: 18px;
  font-weight: bold;
}

.about-us-text__text {
  font-size: 14px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .right-about-card-text {
    margin-left: 70px;
    padding-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .logo {
    left: 50%;
    position: relative;
    transform: translate(-50%);
    top: 30px;
  }

  .about-us {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .services-cards {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .offer {
    margin-top: 20px;
  }

  .header-title__welcome {
    font-size: 30px;
    padding-bottom: 50px;
  }
}



